@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    /*Общие стили*/
    html {
        @apply scroll-smooth scroll-pt-[4.5rem];
    }

    body {
        @apply antialiased bg-gray-200
        dark:bg-slate-800;
    }

    /*Python-код*/
    code {
        @apply font-semibold;
    }
    pre {
        @apply text-gray-900 rounded-lg bg-gray-200 my-4 px-2 overflow-x-auto
        dark:text-gray-100 dark:bg-slate-800 pb-4;
    }
    .line-number {
        @apply inline-block w-12 text-gray-500;
    }
    .number {
        @apply text-orange-600
        dark:text-orange-400;
    }
    .string {
        @apply text-green-600
        dark:text-green-400;
    }
    .function {
        @apply text-blue-600
        dark:text-blue-400;
    }
    .method {
        @apply text-cyan-600
        dark:text-cyan-400;
    }
    .statement {
        @apply text-fuchsia-600
        dark:text-fuchsia-400;
    }
    .tab1 {
        @apply ml-8;
    }
    .tab2 {
        @apply ml-16;
    }

    /*Шапка*/
    header {
        @apply sticky top-0 py-2 mb-2 border-b-2 z-50 border-gray-200 text-gray-700 bg-gray-100
        dark:text-gray-300 dark:bg-slate-900 dark:border-slate-700;
    }

    .header {
        @apply flex flex-row justify-between items-center flex-wrap mx-auto max-w-screen-xl px-2;
    }

    /*Логотип*/
    .logo {
        @apply flex items-center text-sm font-bold;
    }
    .logo img {
        @apply h-10 mr-3;
    }
    .logo__header {
        @apply hidden md:block;
    }

    /*Меню*/
    .menu {
        @apply flex;
    }
    .menu ul {
        @apply flex flex-row font-medium space-x-6 lg:space-x-10;
    }
    .menu a {
        @apply hover:text-red-500;
    }

    /*Главная*/
    main {
        @apply w-full overflow-x-auto rounded-lg px-6 py-3 bg-gray-100 text-gray-700
        dark:bg-slate-900 dark:text-gray-300;
    }

    /*Боковая панель*/
    aside.sidebar {
        @apply w-80 flex-shrink-0 hidden rounded-lg px-6 py-3 sticky top-16 md:block bg-gray-100 text-gray-700
        dark:bg-slate-900 dark:text-gray-300;
    }
    aside.sidebar>nav>ul>li {
        @apply py-1;
    }
    aside.sidebar>nav>ul>li>a {
        @apply pl-4 border-l-4 border-transparent;
    }
    aside.sidebar>nav>ul>li>a:hover {
        @apply border-rose-700 text-rose-700
        dark:border-rose-400 dark:text-rose-400;
    }
    aside.sidebar>nav>ul>li.sidebar-nav__active>a {
        @apply border-l-4 border-rose-700 text-rose-700 transition-none duration-200
        dark:border-rose-400 dark:text-rose-400;
    }

    /*Кнопка без фона*/
    .btn-no-bg {
        @apply hover:bg-red-300 rounded-lg p-2.5
        dark:hover:bg-red-500 ;
    }

    /*Блочная ссылка*/
    .block-link {
        @apply inline-flex items-center justify-center p-3 text-base font-medium rounded-lg my-4
        text-gray-100 bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl;
    }
    .disabled-block-link {
        @apply inline-flex items-center justify-center p-3 text-base font-medium rounded-lg my-4
        text-gray-100 bg-gradient-to-br from-gray-500 to-neutral-400;
    }

    /*Контейнер*/
    .container {
        @apply flex flex-row items-start mx-auto max-w-screen-xl gap-2 px-2;
    }

    /*Заголовок темы*/
    h2.title {
        @apply uppercase text-lg font-bold text-gray-900 mb-4
        dark:text-gray-100;
    }

    h3.subtitle {
        @apply text-base font-bold text-gray-900 my-4
        dark:text-gray-100;
    }

    /*Нумерованный список*/
    ol {
        @apply list-decimal list-inside space-y-1 text-gray-700
        dark:text-gray-300;
    }
    ol a:hover {
        @apply hover:underline;
    }

    /*Всплывающая подсказка*/
    .tooltip {
        @apply relative inline-block;
    }
    .tooltip .tooltiptext {
        @apply invisible bg-gray-100 text-gray-900 text-center px-4 py-2 rounded-md right-[105%] top-[-5px]
        absolute z-auto opacity-0 transition-opacity duration-700
        dark:bg-gray-900 dark:text-gray-100;
    }

    .updated_date {
        @apply mb-4 text-right text-xs
        dark:text-gray-400;
    }

    /*Таблица*/
    .stripped-table {
        @apply relative overflow-x-auto rounded-lg;
    }
    .stripped-table table {
        @apply w-full text-sm text-center text-gray-700
        dark:text-gray-300;
    }
    .stripped-table thead {
        @apply text-xs uppercase text-gray-900 bg-gray-300
        dark:text-gray-100 dark:bg-gray-800;
    }
    .stripped-table th, .stripped-table td {
        @apply px-4 py-2;
    }
    .stripped-table .name {
        @apply font-medium text-gray-900 whitespace-nowrap text-left
        dark:text-gray-100;
    }
    .stripped-table tbody tr:nth-child(even) {
        @apply border-b bg-gray-200
        dark:bg-slate-800 dark:border-gray-700;
    }
    .stripped-table tbody tr:nth-child(odd) {
        @apply bg-white bg-gray-100
        dark:bg-slate-700 dark:border-slate-600;
    }

    /*Олимпиады */
    .event {
        @apply border-b-2 border-gray-300 mb-4
        dark:border-gray-700;
    }
    .event__title {
        @apply italic;
    }
    .event__results {
        @apply my-4;
    }
    .event__results a {
        @apply hover:text-red-500;
    }
    .event__results ul {
        @apply font-bold;
    }
    .event__diplomas {
        @apply flex flex-row justify-center gap-4 flex-wrap my-4;
    }
    .event__diplomas a {
        @apply hover:scale-110 ease-linear duration-300;
    }
    .event__diplomas img {
        @apply w-32 h-auto;
    }
}